.content-admin {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    padding-top: 0;
}

.register-wrapper, .csv-wrapper {
    width: 370px;
    height: 250px;
    margin-bottom: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.csv-wrapper{
    height: 200px;
}

.register-form_title, .csv-title {
    padding: 15px 20px;
    background-color: #3560F6;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    color: white;
}

.register-form, .csv-form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background-color: white;
}

.register-form_item, .csv-form_item {
    margin: 5px 0 10px auto;
    background-color: white;
}

.register-form_item-icon {
    margin-right: 5px;
    margin-top: 5px;
    width: 23px;
    height: 23px;
}

.register-form_item-input {
    width: 270px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #4B4B4B;
    font-size: 12px;
    color: #4B4B4B;
    box-shadow: 0px 0px 100px 100px white inset;
}

.register-form_item-button, .csv-form_button {
    margin-top: 5px;
    width: 45px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #3560F6;
    font-size: 11px;
    color: white;
}

.form-item_file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 3px;
    background-color: #5580F7;
    color: white;
}

.form-item_input {
    display: none;
}

.form-item_input-texts {
    font-size: 11px;
}

.form-item_input-summary {
    margin-top: -5px;
    font-size: 9px;
}

.error-has {
    margin: 10px 0;
}

.error-message {
    font-size: 15px;
    color: red;
}

.message {
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 2px;
    border-radius: 3px;
    background-color: #3560F6;
    font-size: 14px;
    color: white;
}