.app-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 50px;
    background-color: #EEEEEE;
    font-family: 'Noto Sans JP', sans-serif;
}

.header-icon{
    margin-right: 15px;
}

.header-icon_button{
    text-align: left;
    height: 40px;
    width: 40px;
    border: 1px solid #3560F6;
    border-radius: 5px;
    background-color: #3560F6;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 6px;
    color: white;
}

.header-icon_name{
    font-size: 32px;
    font-weight: bold;
    color: #3560F6;
}

.app-main{
    height: 100%;
    padding-bottom: 150px;
    background-color: #EEEEEE;
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (min-width:426px) and (max-width:768px){
    .header-icon_name{
        font-size: 24px;
    }
}

@media screen and (min-width:320px) and (max-width:425px){
    .app-header{
        padding: 15px 30px;
    }

    .header-icon{
        margin-right: 10px;
    }

    .header-icon_button{
        height: 30px;
        width: 30px;
        font-size: 4px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }

    .header-icon_name{
        font-size: 15px;
    }
}