.content-management{
    margin: 0 50px;
}

.select-store-form, .shop-store-form{
    width: 85%;
    padding: 10px;
    margin: 0 auto 30px;
    border-radius: 4px;
    background-color: #3560F6;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
}

.store-title{
    font-size: 18px;
}

.form-item_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}

.form-item{
    margin: 5px 5px 0 0;
    height: 25px;
    width: 25%;
    border: none;
    border-radius: 3px;
}

.form-item_image{
    width: 50%;
}

.store-button{
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #003FF5;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: white;
}

.store-form-item_wrapper{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}

select {
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.form-item_select{
    width: 32%;
    height: 25px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    background-image: url(../img/bottom-arrow.png);
    background-position: right 3px center;
    background-repeat: no-repeat;
    background-size: 13px 10px;
}

.form-item_text{
    width: 100%;
    height: 50px;
    margin: 5px 5px 0 0;
    padding: 5px;
}

.shop-review_wrapper{
    margin-top: 25px;
}

.review-title{
    font-size: 22px;
    font-weight: bold;
    color: #003FF5;
}

.review-wrapper{
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.review-item{
    font-size: 20px;
}

.review-table{
    margin-bottom: 10px;
}

.table-data{
    border-bottom: 1px solid black;
}

.error-wrapper {
    margin: 0 0 20px 20px;
}

.error-has {
    margin: 0 0 5px;
    font-size: 15px;
}

.error-message {
    font-size: 12px;
}

.message {
    margin: auto;
    font-size: 17px;
    color: #003FF5;
}

.alert {
    font-size: 14px;
    color: #3560F6;
}

@media screen and (min-width: 769px) {
    .form-item {
        width: 32%;
    }

    .form-item_image {
        width: 32%;
    }
}